<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://githerdone17.github.io/MyPerfectWedding/assets/css/custom.css">
</head>

<body>
  
  <div class="wrapper">
    
    <header>
      <h1>Falls Meets Falls</h1>
    </header>
    
    <main>
      {{ content }}
    </main>
  
    <footer>
      <p>&copy; 2025 My Perfect Wedding</p>
    </footer>
    
  </div>
  
</body>

</html>


